*{
    margin: 0;
    padding: 0;
}

h1{
    color: red;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    border: 1px solid blue;
    margin-bottom: 20px;
}

.vierkant{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 1px dotted red;
}

form{
    height: 150px;
    width: 200px;
    border: 2px solid grey;
}